
# ðŸ““ Sales Analysis â€“ Notebook

This notebook walks you through step-by-step:
1. Loading the sales_orders.cvs data  `sales_orders.csv`
2.

In [22]:

import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.backends.backend_pdf import PdfPages

pd.set_option("display.max_rows", 10)
pd.set_option("display.max_columns", None)
pd.set_option("display.width", 120)

BASE = os.getcwd()
DATA_CSV = os.path.join(BASE, "sales_orders.csv")
print("Data path:", DATA_CSV)

Data path: /Users/cezary/Python/sales_analysis/sales_orders.csv

## 1) Loading data and preview

In [23]:

df = pd.read_csv(DATA_CSV, parse_dates=["data"])
display(df.head(10))
df.info()

      id             produkt    kategoria     cena       data     klient
0  10001  Butelka filtrujÄ…ca          Dom   102.29 2024-11-14  cust_0106
1  10001         Plecak City         Moda    92.30 2024-11-14  cust_0106
2  10002          Smartfon X  Elektronika  4472.14 2024-12-07  cust_0131
3  10002        DÅ‚ugopis Gel  Papiernicze    48.81 2024-12-07  cust_0131
4  10002       Klawiatura MX    Akcesoria   402.86 2024-12-07  cust_0131
5  10003       Klawiatura MX    Akcesoria   279.30 2024-07-15  cust_0231
6  10003        Bluza Hoodie         Moda    51.49 2024-07-15  cust_0231
7  10004         Biurko Slim        Meble   648.75 2024-05-06  cust_0228
8  10004      Koszulka Basic         Moda    68.40 2024-05-06  cust_0228
9  10005  Butelka filtrujÄ…ca          Dom   151.61 2024-06-26  cust_0015

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1242 entries, 0 to 1241
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         1242 non-null   int64
 1   produkt    1242 non-null   object
 2   kategoria  1242 non-null   object
 3   cena       1242 non-null   float64
 4   data       1242 non-null   datetime64[ns]
 5   klient     1242 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 58.3+ KB

## 2) Data Cleaning

In [28]:
df = df.dropna(subset=["data", "cena"])
df = df[df["cena"] > 0]
df.describe(include="all")

                  id        produkt    kategoria         cena                           data     klient
count     319.000000            319          319   319.000000                            319        319
unique           NaN              5            2          NaN                            NaN        153
top              NaN  SÅ‚uchawki Pro  Elektronika          NaN                            NaN  cust_0174
freq             NaN            104          250          NaN                            NaN          6
mean    10214.128527            NaN          NaN  2632.633041  2024-07-10 19:15:36.677115904        NaN
...              ...            ...          ...          ...                            ...        ...
25%     10118.000000            NaN          NaN  1422.520000            2024-04-20 00:00:00        NaN
50%     10230.000000            NaN          NaN  2559.990000            2024-07-12 00:00:00        NaN
75%     10303.000000            NaN          NaN  3661.050000            2024-10-18 12:00:00        NaN
max     10399.000000            NaN          NaN  5171.000000            2024-12-31 00:00:00        NaN
std       109.087867            NaN          NaN  1197.776711                            NaN        NaN

[11 rows x 6 columns]

In [31]:

order_revenue = df.groupby("id")["cena"].sum()   # Revenue per order (sum of prices per order ID)
total_revenue = float(order_revenue.sum())       # Total revenue
num_orders = int(order_revenue.shape[0])         # Number of orders
aov = float(order_revenue.mean())                # Average order value (AOV)

kpis = pd.DataFrame({
    "KPI": ["Total Revenue", "Number of Orders", "Average Order Value (AOV)"],
    "Value": [round(total_revenue, 2), num_orders, round(aov, 2)]
})

kpis

                         KPI      Value
0              Total Revenue  839809.94
1           Number of Orders     235.00
2  Average Order Value (AOV)    3573.66